# Ignore everything
*

# Allow Terraform files everywhere
!**/*.tf
!**/*.tfvars
!*.tfvars
!**/*.tfvars

# Allow .gitignore itself
!.gitignore

# (Optional) Still ignore specific directories
.vscode/


# Don't track secret files
demo/newrelicapi.txt
demo/terraform.tfvars

# Prevent shell scripts from being tracked
*.sh

# Ignore anything with 'backup' in the filename or path
*backup*

# Allow folders you want to track
!demo/
!prod/
!staging/