# Ignore everything
**

# Allow Terraform files everywhere
!**/*.tf
!**/*.tfvars

# Allow .gitignore itself
!.gitignore

# (Optional) Still ignore specific directories
.vscode/
demo/

# Don't track secret files
demo/newrelicapi.txt
demo/terraform.tfvars

